@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
}

h1,
h2,
h3,
p,
span {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  white-space: normal;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5D4FB6 #1C1C1C;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #1C1C1C;
}

::-webkit-scrollbar-thumb {
  background-color: #5D4FB6;
  border-radius: 10px;
  border: 2px solid #1C1C1C;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a6df5;
}

.customMaxW {
  max-width: calc(100% - 320px);
}

.textPurple {
  color: #5D4FB6;
}

.mainPurple {
  background-color: #5D4FB6;
}

.purple2 {
  background-color: #211A42;
}

button.animacionSwitch {
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes navFadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  animation: navFadeUp 0.6s ease-out forwards;
}

@keyframes purplePulse {

  0%,
  100% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    opacity: 0.95;
    transform: scale(1.15);
  }
}

.banner-bg::before {
  content: "";
  position: absolute;
  top: 28%;
  bottom: 18%;
  left: 0;
  right: 0;

  background:
    radial-gradient(circle at left center,
      rgba(93, 79, 182, 1) 0%,
      rgba(93, 79, 182, 0.6) 6%,
      rgba(93, 79, 182, 0.3) 12%,
      rgba(26, 26, 26, 0) 28%),
    radial-gradient(circle at right center,
      rgba(93, 79, 182, 1) 0%,
      rgba(93, 79, 182, 0.6) 6%,
      rgba(93, 79, 182, 0.3) 12%,
      rgba(26, 26, 26, 0) 28%);

  background-color: #1A1A1A;
  filter: blur(30px);
  animation: purplePulse 6s ease-in-out infinite;
  pointer-events: none;
  z-index: 0;
  transform-origin: center;
  transition: all 0.4s ease;
}

.banner-bg>* {
  position: relative;
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

.paused {
  animation-play-state: paused;
}





@media (max-width: 1550px) {
  .customMaxW {
    width: 100%;
    max-width: calc(100% - 150px);
    margin: 0 auto;
  }
}

@media (max-width: 1110px) {

  /* lg */
  .customMaxW {
    width: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {

  /* md */
  .customMaxW {
    width: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .customMaxW {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
  }
}